// html{
//     overflow-x: hidden;
// }

body{
    font-family: $font-family;
    background-color: $black-dark;
    color: $whitee-normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-alt;
}

p, button{
    color: $whitee-normal;
}