@import 'sass/_abstract/variable.scss';
@import 'sass/_base/reset.scss';
@import 'sass/_abstract/mixins.scss';
@import 'sass/_base/base.scss';
@import 'sass/_components/navbar.scss';
@import 'sass/_components/hore.scss';
@import 'sass/_components/carrossel.scss';
@import 'sass/_components/about.scss';
@import 'sass/_components/portfolio.scss';
@import 'sass/_components/cta.scss';
