 
// [Colors]
$primary-color: #00e0ff;
$secondary-color: #00ff85;

$black-normal: #222;
$black-dark: #111;

$whitee-normal: #ffffffd8;
$whitee-light: #ffffffa1;

// [Fonts]
$font-family: 'Poppins', sans-serif;
$font-family-alt: 'Open Sans', sans-serif;

// [Shadows]
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0px 0px 12px $primary-color;

// Border