 // [Colors]
$primary-color: #00e0ff;
$secondary-color: #00ff85;

$black-normal: #18191B;
$black-dark: #09090A;

$whitee-normal: #FCFCFC;
$whitee-light: #ffffffa1;

// Colors Texts
$text-white: #EDEEF0;
$text-black: #18191B;
$text-gray: #777B84;


// [Fonts]
$font-family: 'Poppins', sans-serif;
$font-family-alt: 'Open Sans', sans-serif;

// [Shadows]
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0px 0px 12px $primary-color;

// Border