.about {
  margin: 60px auto;
  width: 70%;

  .textoAnimado-about {
    font-size: 2.5vw;
    text-align: justify;
    line-height: 3.5vw;

    span {
      font-size: 1.5vw;
      line-height: 0vw;
    }
  }
}

@media screen and (max-width: 768px){
  .about{
    width: 90%;

    .textoAnimado-about {
      font-size: 4vw;
      line-height: 6vw;

      span {
        font-size: 2.5vw;
        line-height: 0vw;
      }
      
    }
  }
}