.carrossel {
  display: flex;
  width: 99vw;
  padding: 25px 0;
  background-color: #212121;
  align-items: center;
  // justify-content: center;
  white-space: nowrap;
  transform: rotate(1deg);
  margin-top: 10px;
  overflow-x: hidden;

  .text-carrossel {
    display: inline-block;
    font-size: 1.5vw;
    position: relative;
    animation: textInfinit 100s infinite linear;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  
  @keyframes textInfinit {
    to {
      transform: translateX(-50%);
      //   right: 100%;
      // }
      // from {
      //   right: 100px;
    }
  }
}

    @media screen and (max-width: 768px) {
      // .carrossel {
      //   padding: 15px 0;
      //   width: 96vw;
      // }
      .carrossel {
        width: 96.9vw;
        padding: 15px 0;
        
      .text-carrossel {
        font-size: 3.5vw;
      }
      }
    }