body.no-scroll {
  overflow: hidden;
}

.navbar {
  // Layout
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;

  // Box Model
  width: 100%;
  max-width: 1200px;
  margin: 16px auto 0 auto;
  padding: 8px 16px;

  // Flex
  align-items: center;
  justify-content: space-between;

  // Design
  background-color: $black-normal;
  border-radius: 25px;

  // Outros
  transform: translateY(-130%); // Inicialmente escondido
  @include smooth-transition(
    transform
  ); // Mesmo que | transition: transform 0.3s ease-in-out;

  .logo {
    width: 80px;
    height: auto;
    object-fit: contain;
    @include smooth-transition(transform);
  }

  .logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .menu-mobile {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 30.4px;
  }

  .nav-links li a {
    position: relative;
    border-bottom: none;
    padding-bottom: 3.2px;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1rem;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background: $secondary-color;
      transition: width 0.3s ease;
    }
  }

  .nav-links li a:hover {
    color: $whitee-normal;

    &::after {
      width: 100%;
    }
  }

  .nav-button-link button {
    // background-color: transparent;
    // border: 2px solid $primary-color;
    // color: $whitee-normal;
    // padding: 0.5rem 1rem;
    // border-radius: 12.5px;
    // font-weight: 500;
    // cursor: pointer;
    // transition: all 0.3s ease;
    // font-size: 1rem;
    @include button-navbar_style;
  }

  .nav-button-link button:hover {
    border: 2px solid $primary-color;
    box-shadow: $box-shadow-hover;
  }

  .social-media {
    display: none;
    align-items: center;
    gap: 32px;
    font-size: 1.2rem;
  }
}

// Estilo para esconder a navbar ao rolar para baixo
.navbar-hidden {
  transform: translateY(0);
}

// Estilos responsivos para telas mobile
@media(max-width: 1217px){
  .navbar{
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 8px 16px;
    border-radius: 20px;
    width: 95%;
    max-width: 100%;
    margin: 16px auto;
    gap: 16px;
    flex-wrap: wrap;

    .logo {
      width: 60px;
    }

    .menu-mobile {
      display: block;
      font-size: 1.5rem;
      color: $secondary-color;
      cursor: pointer;
      background-color: transparent;

      i {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        padding: 4.8px;
        border: 1.9px solid #ffffff26;
        border-radius: 10px;
      }
    }

    .menu-mobile i:hover {
      background-color: #ffffff14;
    }

    .nav-links {
      display: none; // Esconde os links de navegação no mobile
      flex-direction: column;
      width: 100%;
      border-top: 2px solid rgba(255, 255, 255, 0.1);
      padding: 32px 0;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;
    }

    .social-media {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      padding: 4.8px 0;
      margin-bottom: 32px;

      a {
        font-size: 1.6rem;
        color: $whitee-light;
        transition: color 0.3s ease-in-out;
      }
    }
    .social-media a:hover {
      color: $whitee-normal;
    }

    .nav-button-link {
      width: 100%;

      button {
        width: 100%;
      }
    }

    .inactive-button {
      display: none;
    }

    .nav-button-link.active {
      display: flex !important;
    }

    .nav-links.active {
      display: flex !important;
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    .logo {
      width: 50px;
    }

    .nav-button-link button {
      padding: 6.4px 12.8px;
      font-size: 0.9rem;
    }
  }
}

// Mostra o menu mobile quando .active está presente
.navbar.active {
  .nav-links {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: $primary-color;
    border-radius: 0 0 20px 20px;
    gap: 16px;
    padding: 16px 0;
    z-index: 1100;
  }
}
