.portfolio {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: $whitee-normal;
  width: 100%;

  .content-portfolio {
    display: flex;
    width: 80%;
    padding: 32px 16px;
    margin: auto;
    flex-direction: column;
    gap: 12px;

    .portfolio-title {
      color: $black-dark;
      font-size: 2.3vw;
      text-align: center;
      font-weight: 600;
    }

    .portfolio-paragraph {
      color: $text-gray;
      font-size: 1.5vw;
      text-align: center;
    }
  }

  .swiper {
    width: 100%;
    padding: 10px;
    margin-bottom: 80px;

    .swiper-wrapper {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .swiper-slide {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 25px;
      // box-shadow: 2px 4px 3px #00000015;
      border: 2px solid #00000011;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        cursor: grab;
        transform: translateY(-4px);
      }

      &:active {
        cursor: grabbing;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    .content-portfolio {
      width: 90%;

      .portfolio-title {
        font-size: 5vw;
        line-height: 6vw;
        margin-bottom: 8px;
      }

      .portfolio-paragraph {
        font-size: 3.5vw;
        line-height: 4.5vw;
      }
    }
    .swiper {
      width: 95%;
    }
  }
}
