.projects {
  background-color: #fffffff0;
  color: $black-normal;
  padding: 32px 16px;

  .content-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    .projects-title {
      font-size: 2.3vw;
      text-align: center;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .projects-paragraph {
      font-size: 1.5vw;
      text-align: center;
      color: $text-gray;
      width: 60%;
    }
  }

  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;

    .project-card {
      width: 401px;
      height: 555px;
      box-shadow: $box-shadow;
      border-radius: 22px;

      // Para efeito:
      position: relative;
      overflow: hidden;

      img {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 22px;
        object-position: 0 0;
        transition: object-position 3s ease-in-out;
      }

      img:hover {
        object-position: 0 100%;
        cursor: pointer;
      }
    }

    .w100 {
      width: 841px;
    }
  }
}

/* ===============================
   RESPONSIVIDADE
================================== */
@media screen and (max-width: 900px) {
  .projects .projects-grid .w100 {
    grid-column: span 1;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    .projects-grid {
      gap: 16px;

      .project-card,
      .w100 {
        max-width: 400px;
        height: 400px;
        position: sticky;
        top: 130px;
      }
    }

    .w100{
      img{
        object-fit: contain;
      }
    }

    .content-projects {
      .projects-paragraph {
        max-width: 90%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .projects {
    padding: 24px 12px;

    .projects-grid {
      .project-card {
        height: 320px;
      }
    }
  }
}
